/* Global reset of all elements */
* {
    /* Refer to css_box.png */
    margin: 0;
    padding: 0;
    /* total size of box, including padding and margin, into size*/
    box-sizing: border-box;
    padding: 10px;
}

body {
    background-color: aquamarine;
    /* Fonts properties will inharent */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*font sizes of h1... are predefined, can be set individually*/
    font-size: 20px;
}

h1 {
    font-size: 35px;
    margin-bottom: 25px;
}

h2 {
    margin-bottom: 10px;
    text-align: center;
}

.first {
    /* .<class> */
    font-family: 'Courier New', Courier, monospace;
}

#your-name {
    background-color: bisque;
    /* border is not inhereted */
    border: 5px solid #444;
    /* Total size of border-box element: 400px */
    width: 400px;
    padding: 25px;
    margin-top: 25px;
}

#your-name h2 {
    /* h2 elemetn in id=your-name */
    font-size: 25px;
    color: red;

}

#firefox-image {
    width: 50px;
}

input,
button {
    padding: 5px;
}

a {
    background-color: royalblue;
}